snippet toarray "[].slice.call" 
Array.prototype.slice.call($1)
endsnippet

snippet .each "each coffee"
.forEach (value, index, array) ->
endsnippet

snippet .attr "setAttribute(k,v)"
.setAttribute('$1', $2)
endsnippet

