snippet /(\d+)\.match/ "match postfix" rA
\`!p snip.rv = match.group(`!p snip.rv = match.group(1)`)\`
endsnippet

snippet /\$\$(\d)/ "match $$prefix" rA
\`!p snip.rv = match.group(`!p snip.rv = match.group(1)`)\`
endsnippet

